
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误显示页面</title>
</head>
<body>
    <div style="text-align:center">
        <img src="~/Content/images/2.jpg" style="width:100%" />
        <h1>404!!</h1>
        <h3 style="color:red">可能原因:</h3>
        <h3>1.相册地址存在错误</h3>
        <h3>2.请联系管理员进行解决</h3>
    </div>
</body>
</html>
