
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WeiXinMvc.Models;
@model List<DetailModel>

<script src="~/Content/JS/jquery.min.js"></script>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    #allpics {
        width: 100%;
        column-count: 3;
        column-gap: 0;
    }

    .image {
        break-inside: avoid;
        box-sizing: border-box;
        padding: 2px;
    }
</style>
<div style="position: fixed; width: 100%; height: 100%; background-color: black;z-index:12">

    <div id="allpics" style="display:none">
        <div class="image">
            <img src="http://yik1016.oss-cn-beijing.aliyuncs.com/2018-09-03/20180903173745_538.jpg" style="width:100%" />
        </div>
        <div class="image">
            <img src="http://yik1016.oss-cn-beijing.aliyuncs.com/2018-09-03/20180903173745_538.jpg" style="width:100%" />
        </div>
        <div class="image">
            <img src="http://yik1016.oss-cn-beijing.aliyuncs.com/2018-09-03/20180903173745_538.jpg" style="width:100%" />
        </div>
        <div class="image">
            <img src="http://igets.oss-cn-shenzhen.aliyuncs.com/banner.jpg" style="width:100%" />
        </div>
        <div class="image">
            <img src="http://igets.oss-cn-shenzhen.aliyuncs.com/009879498.jpg" style="width:100%" />
        </div>
        <div class="image">
            <img src="http://igets.oss-cn-shenzhen.aliyuncs.com/banner.jpg" style="width:100%" />
        </div>
    </div>
    
    <div id="show" style="position: fixed;width:100%;height:100%;background-color:white">
        <div style="border:1px solid red" id="add">
                <img src="http://yik1016.oss-cn-beijing.aliyuncs.com/2018-09-03/20180903173745_538.jpg" style="width: 100%" />
        </div>
    </div>
    

</div>


<script type="text/javascript">

    $(function () {
        //alert($(".image").length);
        $(".image").click(function () {
            alert($(".image").index(this));
        });

        
    });
    $("#add").click(function () {
        alert("hello");
    });

</script>