
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/JS/jquery.min.js"></script>
    <script>
        //此页面用于用户点击授权登录
        window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?" +
            "appid=wx0ceb887ea81f6fed&redirect_uri=http://flowerxh.cn/Home/Shou&response_type=code&" +
            "scope=snsapi_userinfo&state=STATE#wechat_redirect";
    </script>
</head>

<body>
</body>
</html>
