
@{
    Layout = null;
}
@using WeiXinMvc.Models;
@model List<TalkModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Content/JS/jquery.min.js"></script>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
            background-color:black;
        }
        body {
        column-count: 3; 
        column-gap: 0;
        }
        .box {
            break-inside: avoid;
            box-sizing: border-box;
            padding: 3px;
        }
    </style>
</head>
<body>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/009879498.jpg" style="width:100%" />
    </div>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/pics.jpg" style="width:100%" />
    </div>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20180830101838.jpg" style="width:100%" />
    </div>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/TIM%E5%9B%BE%E7%89%8720180831091342.jpg" style="width:100%" />
    </div>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/pics.jpg" style="width:100%" />
    </div>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/TIM%E5%9B%BE%E7%89%8720180831091342.jpg" style="width:100%" />
    </div>
    <div class="box">
        <img class="img" src="http://igets.oss-cn-shenzhen.aliyuncs.com/009879498.jpg" style="width:100%" />
    </div>
    <script>
        $(function () {
        })
    </script>
</body>
</html>
